
/* Reset documento */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden; 
  min-height: 100vh;
  background-color: white;
}

.navegacion {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #eef2ec;
  padding: 10px 100px 12px 10px;
  z-index: 1;
  margin-top: 3.2em;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: black;
}

.menu {
  display: flex;
  column-gap: 30px;
  padding-top: 8px;
}

.menu li a {
  display: inline-block;
  color: #646c64;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.itemcart {
  display: flex;
  position: fixed;
  top: 70px;
  right: 0;
  margin-right: 35px;
  visibility: visible;
  z-index: 2;
}

.contcart {
  background-color: #727d71;
  color: white;
  padding: 4px 6px;
  text-align: center;
  border-radius: 10px;
}

.menu li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.8px;
  background-color: #727D71;
  transition: 0.20s ease-in-out;
}

.menu li a:hover {
  color: #000000;
}

.menu li a:hover:after {
  width: 100%;
}

.openmenu , .closemenu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.openmenu {
  top: 55%;
  right: 15px;
  transform: translateY(-50%);
}

.closemenu {
  top: 40px;
  right: 20px;
}

#check {display: none;}

@media only screen and (max-width: 790px) {
.menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  z-index: 300;
  background-color: rgb(241, 241, 241);
  transition: all 0.5s ease-in-out;
  padding-bottom: 200px;
}

.menu li {
  margin-top: 40px;

}
.menu li a{
  color: rgb(0, 0, 0);
}

.itemcart {
  margin-right: 50px;
}

.openmenu , .closemenu {
  display: block;
}

#check:checked ~ .menu {
  right: 0;
}

}