/*@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root {
  --font-principal: 'Roboto', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-principal);
  ;
}

@tailwind utilities;  */


.component-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.component-home img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive styles */

@media (max-width: 768px) {
  .component-home {
    flex-direction: column;
  }
}

.carrusel {
  padding-top: 64px;
}

body{
  /*background-color: #e5e3df;*/
  background-image: linear-gradient(#e5e3df, #f0d9b4, #686d67e7);
}