
/* Reset documento */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden; 
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Barra de navegacion */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(247, 228, 223);
  position: fixed;
  width: 100%;
}

/* Enlace logo */

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: rgb(176, 38, 38);
}

/* Enlaces de navegacion */

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;  
  font-weight: bold;
  font-size: 16px;
  margin-right: 50px;
 
}

.enlaces {
  color: rgb(176, 38, 38);
}

.enlaces:hover {
  color: rgb(0, 0, 0);
}
